<!DOCTYPE HTML>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/configHeader"/>
<body>
<div th:replace="fragments/head"/>
<div class="container">

    <div class="col-md-12">

        <div class="titleContainer">
            <h3>메인 페이지</h3>
        </div>

    </div>
</div>
</body>
</html>

<style>
    .titleContainer {
        height: 10vh;
        display: flex;
        align-items: center;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    td {
        font-size: 13px;
    }


</style>
